<div class="jumbotron">
    <p><a href=@Url.Action("GetAllProducts", "Products", new { httproute = "Default" }) class="btn btn-primary btn-lg">View Products &raquo;</a></p>
    
    <p><small>This is a Proof Of Concept RESTful service using c# ASP.NET Web API 2.2, MVC5, and Twitter.Bootstrap</small></p>
</div>
